@charset "utf-8";
/* CSS Document */
body.large .chapter {
	font-size:24px;
	color:#3C9;
	}
body.narrow .chapter {
	font-size:24px;
	color:#6FF;
	}
	
.selected {
	font-weight:bold;
}

.switcher {
  float: right;
  background-color: #ddd;
  border: 1px solid #000;
  margin: 10px;
  padding: 10px;
  font-size: .9em;
}
.hidden{
	display:none;
}
.hover{
	cursor:pointer;
	background-color:#afa;
}